<!doctype html>
<html>
	<head>
		<title>Intelcomp</title>
		<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
		<div class="login">
			<div><input type="text" placeholder="Nombre de Usuario" size="40" /></div>
			<div><input type="password" placeholder="Contrase&ntilde;a" size="40" /></div>
			<div><a href="#">Olvid&oacute; su contrase&ntilde;a?</a></div>
			<div><input type="button" value="Entrar" /></div>
		</div>
		
		<div class="news">
			<img class="logo" border="0" src="images/iclogo4.jpg" />
			<div class="menu">
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Nosotros</a></li>
					<li><a href="#">Productos</a></li>
					<li><a href="#">Clientes</a></li>
					<li><a href="#">Contacto</a></li>
					<li><a href="#">Descargas</a></li>
					<li><a href="#">Foro</a></li>
					<li><a href="#">BugZilla</a></li>
				</ul>
			</div>
			<div class="footer"><p>&copy; 2013 intelcomp.ru</p></div>
		</div>
	</body>
</html>
